body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f2;
  color: #111111;
}

.header {
  background-image: url(assets/hops.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 3rem;
}

.header h1 {
  font-size: 4rem;
  -webkit-text-stroke: 1.5px #111111;
}

h2.beer-name {
  background-image: url(assets/brushstroke.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 8px 0;
  color: #111111;
}

.beer-image {
  top: 5vh;
  width: 200px;
  height: auto;
}

.beer-details {
  padding: 2%;
}

button.reused-button, button.reused-button:focus {
  background-color: #6C4660;
  color: #f6f6f2;
  width: auto;
  font-size: 1.5rem;
  margin-left: 1%;
  margin-bottom: 0.5%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border: none;
  transition: all .4s ease-in-out;
}

button.reused-button:hover, button.reused-button:active {
  background-color: #6C4660;
  color: #f6f6f2;
  width: auto;
  transform: scale(1.05);
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input.form-control {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto auto;
  height: 2.5rem;
  background-color: transparent;
  border: 1px solid rgb(70,108,82);
  font-size: 1.5rem;
  padding: 1%;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

button.new-keg-button, button.new-keg-button:focus {
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 100%;
  padding: 1%;
  font-size: 1.5rem;
  height: auto;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: all .4s ease-in-out;
}

button.new-keg-button:hover {
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
}

button.buy-button, button.details-button, button.buy-button:focus, button.details-button:focus {
  display: block;
  margin: auto auto;
  width: 80%;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(182,188,150);
  color: #111111;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  border: none;
  transition: all .4s ease-in-out;
}

button.buy-button:hover, button.details-button:hover {
  transform: scale(1.05);
  background-color: rgb(70,108,82);
  color: #f6f6f2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p.empty-keg {
  color: #6C4660;
  font-size: 1.5rem;
}

button.almost-gone, button.almost-gone:focus {
  background-color: #6C4660;
  color: #f6f6f2;
  transition: all .4s ease-in-out;
}

button.almost-gone:hover {
  background-color: #6C4660;
  color: #f6f6f2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button.delete-button, button.delete-button:focus {
  display: block;
  margin: auto auto;
  margin-bottom: 2%;
  width: auto;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(70,108,82);;
  color: #f6f6f2;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
}

@media screen and (max-width: 500px) {
  .tap-control {
    height: auto;
    margin-bottom: 5%;
  }
  button.reused-button {
    width: 100%;
  }
  img.beer-image {
    display: none;
  }
}