body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f6f6f2;
  color: #388087;
}

h2.beer-name {
  color: rgb(86,74,64);
  background-color: rgb(247,236,212);
}

.beer-image {
  top: 5vh;
  height: 200px;
  width: 200px;
}

button.reused-button, button.reused-button:focus {
  color: rgb(86,74,64);
  background-color: rgb(247,236,212);
  height: 3rem;
  width: auto;
  font-size: 1.5rem;
  padding: 1%;
  margin-left: 1%;
  margin-bottom: 0.5%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  border: none;
  transition: transform .4s ease-in-out;
}

button.reused-button:hover, button.reused-button:active {
  background-color: rgb(86,74,64);
  color: rgb(247,236,212);
  width: auto;
  transform: scale(1.05);
  font-size: 1.5rem;
  padding: 1%;
  cursor: pointer;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border: none;
}

input.form-control {
  font-family: 'Montserrat', sans-serif;
  display: block;
  margin: auto auto;
  height: 2.5rem;
  width: 30vw;
  margin-bottom: 2%;
  background-color: transparent;
  border: 1px solid #388087;
  font-size: 1.5rem;
  padding: 1%;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
}

button.new-keg-button, button.new-keg-button:focus {
  background-color: #388087;
  color: #f6f6f2;
  display: block;
  margin: auto auto;
  margin-top: 1%;
  width: 25vw;
  font-size: 1.5rem;
  padding: 1%;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  transition: transform .4s ease-in-out;
}

button.new-keg-button:hover {
  background-color: rgb(198,229,214);
  color: #388087;
  border: none;
  outline: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transform: scale(1.05);
}

button.buy-button, button.details-button, button.buy-button:focus, button.details-button:focus {
  display: block;
  margin: auto auto;
  margin-bottom: 2%;
  width: 80%;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(198,229,214);
  color: #388087;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
  border: none;
  transition: transform .4s ease-in-out;
}

button.buy-button:hover, button.details-button:hover {
  transform: scale(1.05);
  background-color: #388087;
  color: #f6f6f2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

p.empty-keg {
  color: rgb(86,74,64);
  font-size: 1.5rem;
}

button.almost-gone, button.almost-gone:focus {
  background-color: #388087;
  color: #f6f6f2;
}

button.almost-gone:hover {
  background-color: #f6f6f2;
  color: #388087;
  box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

button.delete-button, button.delete-button:focus {
  display: block;
  margin: auto auto;
  margin-bottom: 2%;
  width: auto;
  min-height: 2.5rem;
  height: auto;
  font-size: 1.5rem;
  background-color: rgb(198,229,214);
  color: #388087;
  outline: none;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  cursor: pointer;
}